<div class="container">
  <form action="/community/create" method="post" enctype="multipart/form-data">
    
    <br></br>
    <div>
      <select name="input_head" class="form-control form-control-sm">
        <option>후기</option>
        <option>할인정보</option>
        <option>꿀팁공유</option>
        <option>같이의가치</option>
      </select>
    </div><br>
    
    <div class="form-group">
      <label for="exampleFormControlInput1">제목</label>
      <input name="input_item" type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">내용</label>
      <textarea name = "input_content" class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="내용을 입력하세요"></textarea>
    </div>
    
    <!--<input name="image" type="file" ></input>-->
    <!--<br></br>-->
    
    <div style="text-align:right;"><button type="submit" class="btn btn-outline-dark">작성</button></div>
    
  </form>
</div>